.mobile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 48px;

  .bg {
    position: absolute;
    background: url("../../../assets/img/svg/header-bg.svg") no-repeat top;
    width: 100vw;
    height: 55vh;
    z-index: -1;
    top: 0;
  }

  img {
    padding-top: 48px;
    width: 170px;
  }
}

@media (max-width: 640px) {
  .mobile-logo {
    img {
      width: 90px;
      padding-top: 24px;
    }
  }
}
