.main {
  & > div {
    background: url("../../assets/img/svg/decor_triangles.svg") no-repeat top;
    background-size: contain;
  }
}

.new-article {
  max-width: 65%;
  margin: 0 auto;

  h1 {
    font-weight: bold;
    font-size: 44.7898px;
    line-height: 52px;
    margin: 64px 0;
  }

  img {
    object-fit: cover;
    max-width: 444px;
    margin-bottom: 64px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;

    a {
      color: #80baea;
      text-decoration: underline;
    }
  }
}

.article-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 64px 0 128px 0;

  .article__btn {
    width: 174px;
    height: 56px;
  }
}

@media (max-width: 980px) {
  .main {
    & > div {
      background: none;
    }
  }

  .new-article {
    max-width: 100%;

    h1 {
      font-size: 32.4348px;
      line-height: 40px;
      margin: 48px 0;
    }

    img {
      margin-bottom: 48px;
    }
  }

  .article-btns {
    justify-content: center;
    margin: 48px 0 96px 0;

    .article__btn {
      width: 300px;
    }
  }
}

@media (max-width: 640px) {
  .new-article {
    img {
      max-width: 100%;
    }
  }
}
