.logo {
  margin: 12px 0 4px 0;
}

.triangle {
  position: absolute;
  top: 74px;
  transform: translateX(-2px);
  border: 30px solid transparent;
  border-top: 16px solid #ffffff;
  z-index: 100;
}

@media (max-width: 980px) {
  .triangle {
    display: none;
  }
}
