.slider-section {
  height: 87vh;
}

.container {
  margin: 0 auto;
}

.carousel-section {
  overflow: hidden;
}

@media (min-width: 1600px) {
  .slider-section {
    height: 91vh;
  }

  .container {
    max-width: 1520px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

@media (max-width: 980px) {
  .slider-section {
    height: 100%;
    background: url("../../assets/img/svg/header-bg.svg") top no-repeat;
  }

  .container {
    max-width: 100%;
  }

  .resize-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div {
      padding-top: 50px;
      margin-bottom: 100px;

      & > img {
        width: 200px;
      }
    }
  }
}

@media (max-width: 640px) {
  .resize-wrap {
    & > div {
      padding-top: 25px;

      & > img {
        width: 92px;
      }
    }
  }
}
