.header {
  margin-top: 12px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
