.header {
  padding: 10px 0;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .header {
    margin-top: 0;
    background-color: #f9f9f9;

    & > div {
      padding: 0;
    }
  }
}
