.newsItem {
  display: flex;
  margin: 0 auto;
  flex-basis: 50%;
  margin-bottom: 25px;

  a {
    display: flex;
  }
}

.newsItem__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  height: 128px;
  background: url("../../../assets/img/svg/crystal.svg") center no-repeat;

  img {
    min-width: 104px;
    min-height: 120px;
    flex: 0 0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}

.newsItem__descr {
  flex-basis: 70%;

  span {
    display: block;
    font-size: 12.5px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #5c5c5c;
    padding-bottom: 12px;
  }

  h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1600px) {
  .newsItem {
    flex-basis: 33.33%;
  }
}

@media (max-width: 980px) {
  .newsItem__descr {
    h4 {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}

@media (max-width: 640px) {
  .newsItem {
    margin-bottom: 50px;
  }

  .newsItem {
    flex-basis: 100%;
    justify-content: center;

    &:nth-child(even) {
      justify-content: center;
    }
  }
}
